In [6]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\82106\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\82106\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\82106\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\82106\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\82106\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [7]:
!--upgrade pippip install numpy

'--upgrade'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [8]:
import numpy as np
import pandas as pd
# import seaborn as sns
import statsmodels.api as sm
# import matplotlib as mpl
# import matplotlib.pyplot as plt

In [9]:
# import pandas as pd
# import numpy as np
# import seaborn as sns
# import statsmodels.api as sm
# import matplotlib as mpl
# import matplotlib.pyplot as plt

In [10]:
df = pd.read_excel('./teen_employ.xlsx')
df

,year,state,workft,workpt,employed,emp_rest,emp_rest_pt,emp_rest_ft,emp_retail,emp_retail_ft,...,workftmin,workptmin,employedmin,emp_restmin,emp_rest_ptmin,emp_rest_ftmin,emp_retailmin,emp_retail_ftmin,emp_retail_ptmin,inschoolmin
0,1990,1,0.132765,0.208400,0.341165,0.120739,0.069231,0.051508,0.184516,0.078681,...,0.041683,0.175115,0.216797,0.150457,0.150457,0.000000,0.150457,0.000000,0.150457,0.841130
1,1991,1,0.101886,0.219785,0.321671,0.076708,0.060223,0.016485,0.152656,0.036284,...,0.056753,0.180128,0.236880,0.043950,0.043950,0.000000,0.126053,0.000000,0.126053,0.811294
2,1992,1,0.103357,0.206009,0.309366,0.091669,0.062027,0.029641,0.179134,0.046905,...,0.119909,0.225128,0.345037,0.088534,0.057653,0.030881,0.225488,0.075039,0.150448,0.695461
3,1993,1,0.075959,0.267004,0.342963,0.078949,0.062745,0.016204,0.170524,0.024870,...,0.022453,0.169056,0.191509,0.081287,0.081287,0.000000,0.096520,0.000000,0.096520,0.871674
4,1994,1,0.103731,0.172641,0.276372,0.110523,0.051927,0.058596,0.166627,0.074707,...,0.047672,0.141970,0.189641,0.121445,0.073773,0.047672,0.158584,0.047672,0.110912,0.860456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,2009,56,0.088409,0.289408,0.377816,0.096694,0.086597,0.010098,0.172178,0.034890,...,0.165352,0.170061,0.335413,0.131487,0.092619,0.038868,0.170355,0.038868,0.131487,0.903594
1220,2010,56,0.059400,0.221699,0.281099,0.109372,0.098681,0.010691,0.164353,0.035324,...,0.032791,0.199618,0.232410,0.109854,0.109854,0.000000,0.142645,0.032791,0.109854,0.777460
1221,2011,56,0.123639,0.234226,0.357866,0.059944,0.051051,0.008893,0.174633,0.066805,...,0.107119,0.137803,0.244922,0.051678,0.051678,0.000000,0.099524,0.030141,0.069382,0.733234
1222,2012,56,0.116975,0.238533,0.355508,0.080796,0.065445,0.015351,0.164961,0.054718,...,0.111431,0.174962,0.286392,0.116538,0.087937,0.028602,0.197381,0.083210,0.114172,0.786895
1223,2013,56,0.124309,0.272269,0.396578,0.160544,0.121253,0.039291,0.238489,0.078379,...,0.266456,0.095948,0.362404,0.139943,0.000000,0.139943,0.173885,0.139943,0.033942,0.811481

# Pooled OLS

In [77]:
df_11 = df[["year", 'state','employed', 'emp_retail', 'emp_retail_ft', 'emp_retail_pt', 'emp_rest', 'emp_rest_ft', 'emp_rest_pt',  'inschool', 'workft', 'workpt', 'minwage', 'cpi'
             , 'employed1617', 'employed1819', 'employedm', 'employedf', 'employedw', 'employedmin'  ]]
df_11['real_minwage'] =df_11["minwage"]/df_11['cpi'] *100
df_11

C:\Users\82106\AppData\Local\Temp\ipykernel_81964\2244917393.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emp_df['real_minwage'] =emp_df["minwage"]/emp_df['cpi'] *100

,year,state,employed,emp_retail,emp_retail_ft,emp_retail_pt,emp_rest,emp_rest_ft,emp_rest_pt,inschool,...,workpt,minwage,cpi,employed1617,employed1819,employedm,employedf,employedw,employedmin,real_minwage
0,1990,1,0.341165,0.184516,0.078681,0.105836,0.120739,0.051508,0.069231,0.776857,...,0.208400,3.35,128.600006,0.253897,0.410211,0.338866,0.343559,0.420823,0.216797,2.604977
1,1991,1,0.321671,0.152656,0.036284,0.116373,0.076708,0.016485,0.060223,0.760593,...,0.219785,3.80,134.800003,0.203062,0.431565,0.348714,0.295039,0.396615,0.236880,2.818991
2,1992,1,0.309366,0.179134,0.046905,0.132229,0.091669,0.029641,0.062027,0.720584,...,0.206009,4.25,139.100006,0.146924,0.463614,0.297057,0.319360,0.286468,0.345037,3.055356
3,1993,1,0.342963,0.170524,0.024870,0.145654,0.078949,0.016204,0.062745,0.810713,...,0.267004,4.25,143.300003,0.201711,0.475012,0.358369,0.332795,0.424812,0.191509,2.965806
4,1994,1,0.276372,0.166627,0.074707,0.091919,0.110523,0.058596,0.051927,0.796226,...,0.172641,4.25,147.100006,0.216399,0.336725,0.314453,0.251210,0.353309,0.189641,2.889191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,2009,56,0.377816,0.172178,0.034890,0.137288,0.096694,0.010098,0.086597,0.851700,...,0.289408,6.55,212.494995,0.346855,0.413295,0.345751,0.408979,0.383782,0.335413,3.082426
1220,2010,56,0.281099,0.164353,0.035324,0.129029,0.109372,0.010691,0.098681,0.800940,...,0.221699,7.25,217.352997,0.247270,0.319403,0.251240,0.307024,0.290873,0.232410,3.335588
1221,2011,56,0.357866,0.174633,0.066805,0.107828,0.059944,0.008893,0.051051,0.781315,...,0.234226,7.25,223.044006,0.298225,0.425657,0.369464,0.348332,0.384543,0.244922,3.250480
1222,2012,56,0.355508,0.164961,0.054718,0.110243,0.080796,0.015351,0.065445,0.851468,...,0.238533,7.25,228.865997,0.218797,0.520388,0.337068,0.374160,0.369062,0.286392,3.167793
1223,2013,56,0.396578,0.238489,0.078379,0.160110,0.160544,0.039291,0.121253,0.772776,...,0.272269,7.25,232.244995,0.323832,0.486195,0.421295,0.369599,0.402533,0.362404,3.121703

In [78]:
df_11.describe()

,year,state,employed,emp_retail,emp_retail_ft,emp_retail_pt,emp_rest,emp_rest_ft,emp_rest_pt,inschool,...,workpt,minwage,cpi,employed1617,employed1819,employedm,employedf,employedw,employedmin,real_minwage
count,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,...,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1218.000000,1224.000000
mean,2001.500000,28.960784,0.364974,0.193886,0.048172,0.145714,0.097987,0.023345,0.074642,0.808755,...,0.253679,5.521773,179.514126,0.268758,0.468853,0.354026,0.376343,0.398772,0.272645,3.056851
std,6.925016,15.683243,0.101115,0.056853,0.022750,0.050915,0.034287,0.014879,0.029923,0.054097,...,0.081926,1.281373,31.021831,0.111660,0.108093,0.108795,0.111102,0.107815,0.116943,0.307318
min,1990.000000,1.000000,0.049119,0.025638,0.000000,0.005541,0.000000,0.000000,0.000000,0.607066,...,0.027377,3.350000,128.600006,0.011122,0.067988,0.000000,0.012418,0.000000,0.000000,2.508671
25%,1995.750000,16.000000,0.296215,0.155685,0.031545,0.110060,0.073287,0.012777,0.053515,0.773604,...,0.194575,4.250000,154.424999,0.189564,0.400656,0.276896,0.303944,0.330158,0.197485,2.818991
50%,2001.500000,29.000000,0.365276,0.191442,0.045964,0.141711,0.096558,0.021008,0.071816,0.814547,...,0.246652,5.150000,177.300003,0.261545,0.469926,0.353223,0.370752,0.401976,0.264846,3.011696
75%,2007.250000,42.000000,0.432068,0.231584,0.062109,0.179489,0.120011,0.032039,0.094355,0.847625,...,0.307978,6.750000,207.089745,0.339968,0.544043,0.427005,0.446352,0.472808,0.335008,3.250480
max,2013.000000,56.000000,0.680327,0.380729,0.143763,0.342451,0.230447,0.092982,0.176635,0.945906,...,0.531206,9.190000,232.244995,0.643573,0.822333,0.715368,0.736682,0.713022,1.000000,4.023624

In [79]:
pip install linearmodels

Requirement already satisfied: linearmodels in c:\users\82106\anaconda3\lib\site-packages (4.26)
Requirement already satisfied: property-cached>=1.6.3 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (1.6.4)
Requirement already satisfied: pandas>=0.24 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (1.4.2)
Requirement already satisfied: scipy>=1.2 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (1.7.3)
Requirement already satisfied: mypy-extensions>=0.4 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (0.4.3)
Requirement already satisfied: pyhdfe>=0.1 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (0.1.0)
Requirement already satisfied: formulaic~=0.3.2 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (0.3.4)
Requirement already satisfied: statsmodels>=0.11 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (0.13.2)
Requirement already satisfied: Cython>=0.29.21 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (0.29.28)
Requirement already satisfied: numpy>=1.16 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (1.21.5)
Requirement already satisfied: patsy in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (0.5.2)
Requirement already satisfied: setuptools-scm<7.0.0,>=6.4.2 in c:\users\82106\anaconda3\lib\site-packages (from linearmodels) (6.4.2)
Requirement already satisfied: interface-meta<2.0.0,>=1.2.0 in c:\users\82106\anaconda3\lib\site-packages (from formulaic~=0.3.2->linearmodels) (1.3.0)
Requirement already satisfied: wrapt>=1.0 in c:\users\82106\anaconda3\lib\site-packages (from formulaic~=0.3.2->linearmodels) (1.12.1)
Requirement already satisfied: astor>=0.8 in c:\users\82106\anaconda3\lib\site-packages (from formulaic~=0.3.2->linearmodels) (0.8.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\82106\anaconda3\lib\site-packages (from pandas>=0.24->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\82106\anaconda3\lib\site-packages (from pandas>=0.24->linearmodels) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\82106\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24->linearmodels) (1.16.0)
Requirement already satisfied: setuptools in c:\users\82106\anaconda3\lib\site-packages (from setuptools-scm<7.0.0,>=6.4.2->linearmodels) (61.2.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\82106\anaconda3\lib\site-packages (from setuptools-scm<7.0.0,>=6.4.2->linearmodels) (1.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\82106\anaconda3\lib\site-packages (from setuptools-scm<7.0.0,>=6.4.2->linearmodels) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\82106\anaconda3\lib\site-packages (from packaging>=20.0->setuptools-scm<7.0.0,>=6.4.2->linearmodels) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [80]:
from linearmodels import PanelOLS

In [17]:
df_11['time'] = df_11['year']-1990
df_11

C:\Users\82106\AppData\Local\Temp\ipykernel_81964\4053195401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emp_df['time'] = emp_df['year']-1990

,year,state,employed,emp_retail,emp_retail_ft,emp_retail_pt,emp_rest,emp_rest_ft,emp_rest_pt,inschool,workft,workpt,minwage,cpi,real_minwage,time
0,1990,1,0.341165,0.184516,0.078681,0.105836,0.120739,0.051508,0.069231,0.776857,0.132765,0.208400,3.35,128.600006,2.604977,0
1,1991,1,0.321671,0.152656,0.036284,0.116373,0.076708,0.016485,0.060223,0.760593,0.101886,0.219785,3.80,134.800003,2.818991,1
2,1992,1,0.309366,0.179134,0.046905,0.132229,0.091669,0.029641,0.062027,0.720584,0.103357,0.206009,4.25,139.100006,3.055356,2
3,1993,1,0.342963,0.170524,0.024870,0.145654,0.078949,0.016204,0.062745,0.810713,0.075959,0.267004,4.25,143.300003,2.965806,3
4,1994,1,0.276372,0.166627,0.074707,0.091919,0.110523,0.058596,0.051927,0.796226,0.103731,0.172641,4.25,147.100006,2.889191,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,2009,56,0.377816,0.172178,0.034890,0.137288,0.096694,0.010098,0.086597,0.851700,0.088409,0.289408,6.55,212.494995,3.082426,19
1220,2010,56,0.281099,0.164353,0.035324,0.129029,0.109372,0.010691,0.098681,0.800940,0.059400,0.221699,7.25,217.352997,3.335588,20
1221,2011,56,0.357866,0.174633,0.066805,0.107828,0.059944,0.008893,0.051051,0.781315,0.123639,0.234226,7.25,223.044006,3.250480,21
1222,2012,56,0.355508,0.164961,0.054718,0.110243,0.080796,0.015351,0.065445,0.851468,0.116975,0.238533,7.25,228.865997,3.167793,22
1223,2013,56,0.396578,0.238489,0.078379,0.160110,0.160544,0.039291,0.121253,0.772776,0.124309,0.272269,7.25,232.244995,3.121703,23

In [82]:
panel_df = df_11.set_index(['state', 'year'])
panel_df

            employed  emp_retail  emp_retail_ft  emp_retail_pt  emp_rest  \
state year
1     1990  0.341165    0.184516       0.078681       0.105836  0.120739
      1991  0.321671    0.152656       0.036284       0.116373  0.076708
      1992  0.309366    0.179134       0.046905       0.132229  0.091669
      1993  0.342963    0.170524       0.024870       0.145654  0.078949
      1994  0.276372    0.166627       0.074707       0.091919  0.110523
...              ...         ...            ...            ...       ...
56    2009  0.377816    0.172178       0.034890       0.137288  0.096694
      2010  0.281099    0.164353       0.035324       0.129029  0.109372
      2011  0.357866    0.174633       0.066805       0.107828  0.059944
      2012  0.355508    0.164961       0.054718       0.110243  0.080796
      2013  0.396578    0.238489       0.078379       0.160110  0.160544

            emp_rest_ft  emp_rest_pt  inschool    workft    workpt  minwage  \
state year
1     1990     0.051508     0.069231  0.776857  0.132765  0.208400     3.35
      1991     0.016485     0.060223  0.760593  0.101886  0.219785     3.80
      1992     0.029641     0.062027  0.720584  0.103357  0.206009     4.25
      1993     0.016204     0.062745  0.810713  0.075959  0.267004     4.25
      1994     0.058596     0.051927  0.796226  0.103731  0.172641     4.25
...                 ...          ...       ...       ...       ...      ...
56    2009     0.010098     0.086597  0.851700  0.088409  0.289408     6.55
      2010     0.010691     0.098681  0.800940  0.059400  0.221699     7.25
      2011     0.008893     0.051051  0.781315  0.123639  0.234226     7.25
      2012     0.015351     0.065445  0.851468  0.116975  0.238533     7.25
      2013     0.039291     0.121253  0.772776  0.124309  0.272269     7.25

                   cpi  employed1617  employed1819  employedm  employedf  \
state year
1     1990  128.600006      0.253897      0.410211   0.338866   0.343559
      1991  134.800003      0.203062      0.431565   0.348714   0.295039
      1992  139.100006      0.146924      0.463614   0.297057   0.319360
      1993  143.300003      0.201711      0.475012   0.358369   0.332795
      1994  147.100006      0.216399      0.336725   0.314453   0.251210
...                ...           ...           ...        ...        ...
56    2009  212.494995      0.346855      0.413295   0.345751   0.408979
      2010  217.352997      0.247270      0.319403   0.251240   0.307024
      2011  223.044006      0.298225      0.425657   0.369464   0.348332
      2012  228.865997      0.218797      0.520388   0.337068   0.374160
      2013  232.244995      0.323832      0.486195   0.421295   0.369599

            employedw  employedmin  real_minwage
state year
1     1990   0.420823     0.216797      2.604977
      1991   0.396615     0.236880      2.818991
      1992   0.286468     0.345037      3.055356
      1993   0.424812     0.191509      2.965806
      1994   0.353309     0.189641      2.889191
...               ...          ...           ...
56    2009   0.383782     0.335413      3.082426
      2010   0.290873     0.232410      3.335588
      2011   0.384543     0.244922      3.250480
      2012   0.369062     0.286392      3.167793
      2013   0.402533     0.362404      3.121703

[1224 rows x 19 columns]

In [83]:
new_panel_df = panel_df.copy()
new_panel_df

            employed  emp_retail  emp_retail_ft  emp_retail_pt  emp_rest  \
state year
1     1990  0.341165    0.184516       0.078681       0.105836  0.120739
      1991  0.321671    0.152656       0.036284       0.116373  0.076708
      1992  0.309366    0.179134       0.046905       0.132229  0.091669
      1993  0.342963    0.170524       0.024870       0.145654  0.078949
      1994  0.276372    0.166627       0.074707       0.091919  0.110523
...              ...         ...            ...            ...       ...
56    2009  0.377816    0.172178       0.034890       0.137288  0.096694
      2010  0.281099    0.164353       0.035324       0.129029  0.109372
      2011  0.357866    0.174633       0.066805       0.107828  0.059944
      2012  0.355508    0.164961       0.054718       0.110243  0.080796
      2013  0.396578    0.238489       0.078379       0.160110  0.160544

            emp_rest_ft  emp_rest_pt  inschool    workft    workpt  minwage  \
state year
1     1990     0.051508     0.069231  0.776857  0.132765  0.208400     3.35
      1991     0.016485     0.060223  0.760593  0.101886  0.219785     3.80
      1992     0.029641     0.062027  0.720584  0.103357  0.206009     4.25
      1993     0.016204     0.062745  0.810713  0.075959  0.267004     4.25
      1994     0.058596     0.051927  0.796226  0.103731  0.172641     4.25
...                 ...          ...       ...       ...       ...      ...
56    2009     0.010098     0.086597  0.851700  0.088409  0.289408     6.55
      2010     0.010691     0.098681  0.800940  0.059400  0.221699     7.25
      2011     0.008893     0.051051  0.781315  0.123639  0.234226     7.25
      2012     0.015351     0.065445  0.851468  0.116975  0.238533     7.25
      2013     0.039291     0.121253  0.772776  0.124309  0.272269     7.25

                   cpi  employed1617  employed1819  employedm  employedf  \
state year
1     1990  128.600006      0.253897      0.410211   0.338866   0.343559
      1991  134.800003      0.203062      0.431565   0.348714   0.295039
      1992  139.100006      0.146924      0.463614   0.297057   0.319360
      1993  143.300003      0.201711      0.475012   0.358369   0.332795
      1994  147.100006      0.216399      0.336725   0.314453   0.251210
...                ...           ...           ...        ...        ...
56    2009  212.494995      0.346855      0.413295   0.345751   0.408979
      2010  217.352997      0.247270      0.319403   0.251240   0.307024
      2011  223.044006      0.298225      0.425657   0.369464   0.348332
      2012  228.865997      0.218797      0.520388   0.337068   0.374160
      2013  232.244995      0.323832      0.486195   0.421295   0.369599

            employedw  employedmin  real_minwage
state year
1     1990   0.420823     0.216797      2.604977
      1991   0.396615     0.236880      2.818991
      1992   0.286468     0.345037      3.055356
      1993   0.424812     0.191509      2.965806
      1994   0.353309     0.189641      2.889191
...               ...          ...           ...
56    2009   0.383782     0.335413      3.082426
      2010   0.290873     0.232410      3.335588
      2011   0.384543     0.244922      3.250480
      2012   0.369062     0.286392      3.167793
      2013   0.402533     0.362404      3.121703

[1224 rows x 19 columns]

In [84]:
from linearmodels.panel import generate_panel_data

In [85]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import linearmodels
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [86]:
import numpy as np
from scipy.stats import norm, gaussian_kde
import matplotlib.pyplot as plt
import pandas as pd
from linearmodels.panel.data import PanelData
from linearmodels.panel import PanelOLS, PooledOLS, RandomEffects, compare
from collections import OrderedDict
from statsmodels.formula.api import ols

In [87]:
from linearmodels.panel import generate_panel_data
model = PanelOLS.from_formula('employed ~ real_minwage  + EntityEffects', new_panel_df)
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               employed   R-squared:                        0.1676
Estimator:                   PanelOLS   R-squared (Between):             -3.0268
No. Observations:                1224   R-squared (Within):               0.1676
Date:                Mon, Jun 20 2022   R-squared (Overall):             -2.9099
Time:                        05:38:48   Log-likelihood                    1588.4
Cov. Estimator:             Clustered
                                        F-statistic:                      235.96
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(1,1172)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             218.15
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(1,1172)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
real_minwage    -0.1236     0.0084    -14.770     0.0000     -0.1400     -0.1072
================================================================================

F-test for Poolability: 25.495
P-value: 0.0000
Distribution: F(50,1172)

Included effects: Entity

In [88]:

model = PanelOLS.from_formula('employed ~ log(real_minwage) + TimeEffects+ EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               employed   R-squared:                        0.0055
Estimator:                   PanelOLS   R-squared (Between):             -0.4211
No. Observations:                1224   R-squared (Within):               0.0514
Date:                Mon, Jun 20 2022   R-squared (Overall):             -0.4038
Time:                        05:38:52   Log-likelihood                    2027.1
Cov. Estimator:             Clustered
                                        F-statistic:                      6.4098
Entities:                          51   P-value                           0.0115
Avg Obs:                       24.000   Distribution:                  F(1,1149)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             3.8730
                                        P-value                           0.0493
Time periods:                      24   Distribution:                  F(1,1149)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0653     0.0332    -1.9680     0.0493     -0.1304     -0.0002
=====================================================================================

F-test for Poolability: 51.792
P-value: 0.0000
Distribution: F(73,1149)

Included effects: Entity, Time

In [89]:
########################################### employed
model = PanelOLS.from_formula('employed ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               employed   R-squared:                        0.5895
Estimator:                   PanelOLS   R-squared (Between):              0.7248
No. Observations:                1224   R-squared (Within):               0.7242
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.7248
Time:                        05:38:55   Log-likelihood                    2568.6
Cov. Estimator:             Clustered
                                        F-statistic:                      824.26
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             843.29
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0503     0.0217    -2.3210     0.0205     -0.0929     -0.0078
workpt                0.8967     0.0219     40.904     0.0000      0.8536      0.9397
=====================================================================================

F-test for Poolability: 14.391
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [72]:
#emp_retail
model = PanelOLS.from_formula('emp_retail ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model1.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:             emp_retail   R-squared:                        0.3727
Estimator:                   PanelOLS   R-squared (Between):              0.8713
No. Observations:                1224   R-squared (Within):               0.5408
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.8564
Time:                        05:31:19   Log-likelihood                    2624.1
Cov. Estimator:             Clustered
                                        F-statistic:                      341.10
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             387.31
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0145     0.0154    -0.9440     0.3454     -0.0446      0.0156
workpt                0.5530     0.0208     26.567     0.0000      0.5121      0.5938
=====================================================================================

F-test for Poolability: 3.4928
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [73]:
#emp_rest
model = PanelOLS.from_formula('emp_rest ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model1.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               emp_rest   R-squared:                        0.1425
Estimator:                   PanelOLS   R-squared (Between):              0.7249
No. Observations:                1224   R-squared (Within):               0.1613
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.6855
Time:                        05:31:50   Log-likelihood                    2817.6
Cov. Estimator:             Clustered
                                        F-statistic:                      95.400
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             98.770
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0144     0.0114    -1.2658     0.2059     -0.0367      0.0079
workpt                0.2489     0.0179     13.921     0.0000      0.2138      0.2839
=====================================================================================

F-test for Poolability: 5.4578
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [91]:
#employed_1617
model = PanelOLS.from_formula('employed1617 ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:           employed1617   R-squared:                        0.4688
Estimator:                   PanelOLS   R-squared (Between):              0.8988
No. Observations:                1224   R-squared (Within):               0.6591
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.8805
Time:                        05:39:35   Log-likelihood                    2153.7
Cov. Estimator:             Clustered
                                        F-statistic:                      506.59
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             271.46
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0609     0.0316    -1.9293     0.0539     -0.1229      0.0010
workpt                0.9858     0.0432     22.832     0.0000      0.9011      1.0705
=====================================================================================

F-test for Poolability: 4.9950
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [93]:
#employed_1819
model = PanelOLS.from_formula('employed1819 ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:           employed1819   R-squared:                        0.2157
Estimator:                   PanelOLS   R-squared (Between):              0.5454
No. Observations:                1224   R-squared (Within):               0.4277
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.5418
Time:                        05:40:07   Log-likelihood                    1756.2
Cov. Estimator:             Clustered
                                        F-statistic:                      157.87
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             108.04
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0375     0.0351    -1.0695     0.2851     -0.1063      0.0313
workpt                0.7627     0.0525     14.520     0.0000      0.6597      0.8658
=====================================================================================

F-test for Poolability: 8.6227
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [94]:
#employed male
mode1 = PanelOLS.from_formula('employedm ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:              employedm   R-squared:                        0.3240
Estimator:                   PanelOLS   R-squared (Between):              0.7697
No. Observations:                1224   R-squared (Within):               0.5399
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.7574
Time:                        05:41:09   Log-likelihood                    1913.5
Cov. Estimator:             Clustered
                                        F-statistic:                      275.14
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             334.39
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0373     0.0300    -1.2446     0.2135     -0.0961      0.0215
workpt                0.8862     0.0348     25.499     0.0000      0.8180      0.9544
=====================================================================================

F-test for Poolability: 6.9992
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [95]:
#employed female
model = PanelOLS.from_formula('employedf ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 = model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:              employedf   R-squared:                        0.3500
Estimator:                   PanelOLS   R-squared (Between):              0.6895
No. Observations:                1224   R-squared (Within):               0.5582
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.6841
Time:                        05:41:21   Log-likelihood                    1963.7
Cov. Estimator:             Clustered
                                        F-statistic:                      309.07
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             302.80
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0573     0.0333    -1.7200     0.0857     -0.1227      0.0081
workpt                0.8991     0.0366     24.563     0.0000      0.8273      0.9709
=====================================================================================

F-test for Poolability: 6.1644
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [96]:
#employed white
model = PanelOLS.from_formula('employedw ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:              employedw   R-squared:                        0.4250
Estimator:                   PanelOLS   R-squared (Between):              0.7850
No. Observations:                1224   R-squared (Within):               0.6205
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.7781
Time:                        05:41:51   Log-likelihood                    2056.7
Cov. Estimator:             Clustered
                                        F-statistic:                      424.27
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1148)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             552.75
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1148)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.0313     0.0244    -1.2851     0.1990     -0.0791      0.0165
workpt                0.9799     0.0295     33.165     0.0000      0.9220      1.0379
=====================================================================================

F-test for Poolability: 10.345
P-value: 0.0000
Distribution: F(73,1148)

Included effects: Entity, Time

In [97]:
#employed minorities
model = PanelOLS.from_formula('employedmin ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            employedmin   R-squared:                        0.0568
Estimator:                   PanelOLS   R-squared (Between):              0.2129
No. Observations:                1218   R-squared (Within):               0.1293
Date:                Mon, Jun 20 2022   R-squared (Overall):              0.2015
Time:                        05:42:12   Log-likelihood                    1136.2
Cov. Estimator:             Clustered
                                        F-statistic:                      34.369
Entities:                          51   P-value                           0.0000
Avg Obs:                       23.882   Distribution:                  F(2,1142)
Min Obs:                       20.000
Max Obs:                       24.000   F-statistic (robust):             24.979
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1142)
Avg Obs:                       50.750
Min Obs:                       49.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
log(real_minwage)    -0.1034     0.0507    -2.0371     0.0419     -0.2029     -0.0038
workpt                0.5724     0.0862     6.6417     0.0000      0.4033      0.7415
=====================================================================================

F-test for Poolability: 3.9326
P-value: 0.0000
Distribution: F(73,1142)

Included effects: Entity, Time

c:\Users\82106\anaconda3\lib\site-packages\linearmodels\panel\model.py:1184: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

In [ ]:
model = PanelOLS.from_formula('inschool ~ log(real_minwage) + workpt + TimeEffects + EntityEffects', new_panel_df )
model2 = model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

In [42]:

model1 = PanelOLS.from_formula('employed ~ log(real_minwage) +inschool+ EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               employed   R-squared:                        0.3072
Estimator:                   PanelOLS   R-squared (Between):             -9.1740
No. Observations:                1224   R-squared (Within):               0.3072
Date:                Mon, Jun 20 2022   R-squared (Overall):             -8.8270
Time:                        02:33:02   Log-likelihood                    1700.7
Cov. Estimator:             Clustered
                                        F-statistic:                      259.56
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1171)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             216.89
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1171)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
inschool             -0.6369     0.0439    -14.500     0.0000     -0.7231     -0.5507
log(real_minwage)    -0.2725     0.0235    -11.606     0.0000     -0.3186     -0.2264
=====================================================================================

F-test for Poolability: 34.418
P-value: 0.0000
Distribution: F(50,1171)

Included effects: Entity

In [43]:
model = PanelOLS.from_formula('employed ~ log(real_minwage) +workpt+ inschool+ EntityEffects', new_panel_df )
model2 = model1.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               employed   R-squared:                        0.8423
Estimator:                   PanelOLS   R-squared (Between):             -1.0282
No. Observations:                1224   R-squared (Within):               0.8423
Date:                Mon, Jun 20 2022   R-squared (Overall):             -0.9598
Time:                        02:33:10   Log-likelihood                    2606.7
Cov. Estimator:             Clustered
                                        F-statistic:                      2083.6
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(3,1170)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             1646.1
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(3,1170)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
inschool             -0.4436     0.0232    -19.133     0.0000     -0.4891     -0.3981
log(real_minwage)    -0.0721     0.0141    -5.0942     0.0000     -0.0998     -0.0443
workpt                1.0829     0.0187     57.853     0.0000      1.0462      1.1197
=====================================================================================

F-test for Poolability: 6.0093
P-value: 0.0000
Distribution: F(50,1170)

Included effects: Entity

In [115]:
model = PanelOLS.from_formula('workft ~ log(real_minwage) + inschool+ EntityEffects', new_panel_df )
model2 =model.fit(cov_type = "clustered", cluster_entity=True)
print(model2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 workft   R-squared:                        0.3960
Estimator:                   PanelOLS   R-squared (Between):             -24.976
No. Observations:                1224   R-squared (Within):               0.3960
Date:                Mon, Jun 20 2022   R-squared (Overall):             -22.502
Time:                        07:44:18   Log-likelihood                    2594.6
Cov. Estimator:             Clustered
                                        F-statistic:                      383.83
Entities:                          51   P-value                           0.0000
Avg Obs:                       24.000   Distribution:                  F(2,1171)
Min Obs:                       24.000
Max Obs:                       24.000   F-statistic (robust):             211.01
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(2,1171)
Avg Obs:                       51.000
Min Obs:                       51.000
Max Obs:                       51.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
inschool             -0.4584     0.0229    -20.044     0.0000     -0.5033     -0.4135
log(real_minwage)    -0.0874     0.0131    -6.6645     0.0000     -0.1131     -0.0617
=====================================================================================

F-test for Poolability: 8.2294
P-value: 0.0000
Distribution: F(50,1171)

Included effects: Entity